@using Capstone_Xavier.Models

@model List<CharacterModel>

@{
    ViewBag.Title = "User";
}


<h2>@ViewData["Title"]</h2>

<div class="nav-side">
    <div class="dropdown">
        <button onclick="dropDown()" class="dropBtn">More</button>
        <div id="myDropdown" class="dropdown-item">
            <a onclick="location.href='@Url.Action("UserInfo", "User")'">Profile</a>
            @{
                string role = Session["Role"].ToString();

                if (role == "1")
                {
                    <a onclick="location.href='@Url.Action("Admin", "Admin")'">Admin</a>
                }
                else if (role == "3")
                {
                    <a onclick="location.href='@Url.Action("Gamemaster", "Admin")'">GameMaster</a>
                }
            }
            <a href="#">@Html.ActionLink("More", "More", "Home")</a>
            <a onclick="location.href='@Url.Action("Logout", "Home")'">Logout</a>
        </div>
    </div>
</div>
<br>


    <div class="list">
        
        @foreach (CharacterModel ch in Model)
        {
            
            <div class="list-item-character">

                <div>
                    <p onclick="location.href='@Url.Action("Game", "Game", ch)'" style="cursor: pointer">@ch.name</p>
                    <h6 class="sub-num">@ch.level</h6>
                    <button class="btn-change"  id="@ch.id" onclick="location.href='@Url.Action("UpdateCharacter", "User",  ch)'" ></button>
                    <button class="btn-remove" onclick="location.href='@Url.Action("RemoveCharacter", "User", ch)'"></button>
                </div>
                <div class="info">
                    Health: @ch.health / @ch.maxHP
                    <br>
                    Xp: @ch.xp / @ch.maxXp
                </div>
                <p>@ch.className</p>

            </div>
            <hr>
        }
    </div>
    <div>
        <button class="btn-user" id="User" onclick="location.href='@Url.Action("createCharacter", "User", null)'">Create Character</button>
        <label style="position: absolute; top:20vw; right:25vw;">Click the character name to play!</label>
    </div>

<script type="text/javascript">

</script>

