
@{
    ViewBag.Title = "GameMaster";
}

<h2>GameMaster</h2>

@using Capstone_Xavier.Models
@model AdminModel

@{
    ViewBag.Title = "Admin";

}

<h2>GameMaster</h2>



<div class="nav-side">
    <div class="dropdown">
        <button onclick="dropDown()" class="dropBtn">More</button>
        <div id="myDropdown" class="dropdown-item">
            <a onclick="location.href='@Url.Action("Users", "Home")'">Home</a>
            <a onclick="location.href='@Url.Action("UserInfo", "User")'">Profile</a>
            <a onclick="location.href='@Url.Action("Logout", "Home")'">Logout</a>
            <a href="#">@Html.ActionLink("FAQS", "FAQS", "Home")</a>
        </div>
    </div>
</div>


<label style="left: 28vw; top: 27vw; position: absolute">Click the quil to edit monsters.</label>


<div class="list" id="Monsters" style="display: inline-block; width:50%; overflow-x: visible; display: inline-block">
    <label style="top: -5vw;">Monsters List</label>
    @foreach (MonsterModel monster in Model.monsters)
    {

        <div class="list-item-character" style="width: auto; ">
            <div style="width: auto">
                <p style=" display:inline; ">@monster.monsterName</p>
                <div class="info" style="border: none; width: 80% ; display: inline; color: black; right: -5vw ">
                    Health: @monster.health | Armor: @monster.armor | Damage: @monster.damage | Danger: @monster.danger
                    <br>
                </div>
                <button class="btn-change" style="float: left; margin: 3px;" value="@monster.monsterID" onclick="location.href='@Url.Action("MonsterAlter", "Admin", monster)'"></button>

            </div>

        </div>
        <hr>
    }
</div>
<div id="ComabatBtn" class="" style="display: inline-block; float: right; right: 10vw; top: 23vw; position: absolute;">

    <button class="btn-user" id="MButton" style="display:inline-block;" onclick="location.href='@Url.Action("CreateMonster", "Admin")'">Create Monster</button>
   
</div>





